body {
    margin: 0;
    padding: 0;
    background: #000000;
    overflow-x: hidden;
    
  }

  .App {
    text-align: center;
    padding: 0;
    margin: auto;
    max-width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
  }
  
